<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|Pacifico|ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>Scenario</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1>Scenario</h1>
                    <h3>Are you ready to uncover the magic?</h3>
                    <hr>
                    <a class="btn btn-success btn-lg" href="/main"> <strong>Proceed</strong><span><i class="fas fa-arrow-alt-circle-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>